body {
    padding-top: 4.5rem;
}
.btn-primary:focus {
    outline: none;
    box-shadow: none;
}

.offset:before {
	display: block;
    content: "";
	margin-top: -3rem;
}

/* Products */
.products .card h5 {
    height: 40px;
}
.products .card p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}